main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background: #000000;
}

h1 {
  z-index: 1;
  font-size: 4rem;
  font-family: var(--font-inter);
  font-weight: 700;
  line-height: 1.2;
  color: white;
  text-align: center;
}

b {
  background: -webkit-linear-gradient(40deg, #2449cc 0%, #42ffff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.91) 0%,
    rgba(0, 0, 0, 0.92) 0.01%,
    rgba(0, 0, 0, 0.29) 49.48%,
    rgba(0, 0, 0, 0.71) 100%
  );
  backdrop-filter: blur(30px);
}

.shape-1 {
  position: absolute;
  background: rgba(0, 98, 245, 0.137);
  filter: blur(50px);
  border-radius: 50%;
  width: 800px;
  height: 800px;
  transform: translate(50%, -50%);
  right: 0;
  top: 0;
}
.shape-2 {
  position: absolute;
  background: rgba(0, 98, 245, 0.12);
  width: 50%;
  border-radius: 0 30% 0 10%;
  height: 300px;
  left: 0px;
  bottom: 0;
}

.shape-3 {
  position: absolute;
  border-radius: 293px;
  background: rgba(0, 98, 245, 0.137);
  filter: blur(50px);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.line {
  position: absolute;
  width: 500px;
  height: 35px;
  background: #42ffff34;
  filter: blur(50px);
  top: 50%;
  left: 50%;
}

.line-1 {
  width: 600px;
  transform: translate(-50%, -50%) rotate3d(0, 0, 1, 45deg);
}

.line-2 {
  width: 700px;
  transform: translate(-50%, -50%) rotate3d(0, 0, 1, 135deg);
}

.line-3 {
  width: 600px;
  transform: translate(-50%, -50%) rotate3d(0, 0, 1, 90deg);
}

.line-4 {
  width: 500px;
  transform: translate(-50%, -50%) rotate3d(0, 0, 1, 180deg);
}

.powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}
